.email:focus{
    border-color:#80bdff !important;
    border-style: solid;
    outline: none;
    box-shadow: 0px 0px 12px #80bdff;
}

.pass-word:focus{
    border-color:#80bdff !important;
    border-style: solid;
    outline: none;
    box-shadow: 0px 0px 12px #80bdff;
}

label:before {
    width: 0px;
    height: 0px;
    border-radius: 0%;
    position: absolute;
    top: -4px;
    left: -35px;
    content: '';
    background: #fff;
    border: 1px solid lightgray;
}