.email:focus{
    border-color:#80bdff !important;
    border-style: solid;
    outline: none;
    box-shadow: 0px 0px 12px #80bdff;
}

.pass-word:focus{
    border-color:#80bdff !important;
    border-style: solid;
    outline: none;
    box-shadow: 0px 0px 12px #80bdff;
}

