.slick-arrow.slick-prev{
    display: block !important;
    position: absolute;
    left:-40%;
    top: 30%;
    transform: translate(0%,-50%);
    width: 100%;
    color: black;
    z-index: 100;
   
}

.slick-prev:before{
    content: url(https://dominos.vn/img/icon/slider-back.svg) !important;
    font-size: 100px !important;
   
}