.btn-khuyenMai {
    border-top: 1px solid #0078ae;
    border-bottom: 1px solid #0078ae;
    background-color: white;
    padding: 10px;
    width: 80%;
    position: relative;
}

.btn-khuyenMai::after{
    content: "";
    position: absolute;
    top: 10;
    right: 0;
    background-image:url(../../../assets/images/jaggedRight.png);
    background-repeat: no-repeat;
    background-color: white;
   
    width: 100%;
    height: 500px;
}