.btn-pizza{
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold
  }

.btn-pizza.active-choose{
    background-color: red;
    color:white;
}