.dat-hang > input{
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.dat-hang > input:checked{
    border: 1px solid lightgrey;
   
}